.navbar {
    background-color: #e27474; /* Background color */
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow effect */
    padding: 10px; /* Padding */
  }
  
  .nav-menu {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
    margin: 0;
    display: flex; /* Display items horizontally */
  }
  
  .nav-item {
    margin-right: 20px; /* Spacing between items */
    margin-left: 20px;
    list-style-type: none; /* Remove bullet points */
  }
  
  .nav-link {
    text-decoration: none; /* Remove underline */
    color: #fff; /* Text color */
    padding: 10px 20px; /* Padding */
    border-radius: 20px; /* Rounded corners */
    background-color: #db3c3c; /* Background color */
    transition: background-color 0.3s ease; /* Smooth transition */
    margin-right: 20px; /* Increase space between buttons */
    font-family: 'Inter', sans-serif; /* Use Inter font */
    font-size: 16px; /* Font size */
    font-weight: 500; /* Font weight */

  }
  
  .nav-link:hover {
    background-color: #911717; /* Darker background color on hover */
  }
  